{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if bookings %}
<div class="container-fluid bookings-container text-white">
    <h3 class="text-center m-3">{{user.username}}, here are all yours bookings</h3>
    {% for booking in bookings %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card rounded m-2 shadow-sm border-0 details-post-card ">
                <div class="card-body p-4">
                    <h5 class="posts-title">{{ booking.tour }}</h5>
                    <div class="row">
                        <div class="col-6">
                            <p>Tour Date: {{ booking.tour_date }}</p>
                            <p>Your Phone: {{ booking.phone }}</p>
                            <p>Your Email: {{ booking.email }}</p>
                        </div>
                        <div class="col-6">
                            <a href="{% url 'delete-booking' booking.id %}"
                            class="btn btn-dark btn-sm m-2 float-right delete-btn">Delete</a>
                            <a href="{% url 'edit-booking' booking.id %}"
                            class="btn btn-dark btn-sm m-2 float-right edit-btn"> Edit </a>
                        </div>
                    </div>
                    <div class="card-footer mt-auto">
                        Price: €{{ booking.tour.price }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="container-fluid bookings-container text-white">
        <div class="text-center ">
            <h3 class="text-white m-5">{{user.username}}, you haven't booked your trip yet</h3>
            <a href="{% url 'tours' %}"
                            class="btn btn-dark btn-lg m-2">Select a tour</a>
        </div>
    
    {% endif %}


</div>




{% endblock %}