{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if bookings %}
<h3>{{user.username}}, here are all yours bookings</h3>
{% for booking in bookings %}
<div class="row">
    <div class="col-md-5 offset-md-3">
        <div class="card rounded m-2 shadow-sm border-0">
            <div class="card-body p-4">
                <div class="col-6">

                    <a href="{% url 'delete-booking' booking.id %}" class="btn btn-dark btn-sm m-2 float-right delete-btn">Delete</a>
                    <a href="{% url 'edit-booking' booking.id %}" class="btn btn-dark btn-sm m-2 float-right edit-btn">  Edit  </a>

                  </div>
                <h5 class="posts-title">{{ booking.tour }}</h5>
                <p>{{ booking.tour_date }}</p>
                <p>{{ booking.time }}</p>
                <p>{{ booking.number_of_seats }}</p>
                <div class="card-footer text-muted text-center mt-auto">
                    Price: €{{ booking.tour.price }}
                </div>
                
            </div>

        </div>
    </div>
</div>
{% endfor %}
{% else %}
<h3>You haven't booked your trip yet</h3>
{% endif %}


</div>




{% endblock %}