{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row posts-row">
        {% for tour in tours %}
        <div class="col-sm-12 col-md-6 col-lg-4 py-1 mt-2">
            <div class="card card-block posts-card">
                <a href="{% url 'book-trip' tour.id %}"><img src="{{ tour.tour_image.url }}" alt="featured_image" class="posts-img"></a>
                <h5 class="posts-title">{{ tour.tour_name }}</h5>
                <p class="small font-italic">{{ tour.description }}</p>
                <div class="card-footer text-muted text-center mt-auto">
                    Price: €{{ tour.price }}
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    
</div>




{% endblock %}