{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row posts-row">
        {% for tour in tours %}
        <div class="col-sm-12 col-md-6 col-lg-4 py-1 mt-2">
            <div class="card card-block posts-card">
                <img src="{{ tour.tour_image.url }}" alt="featured_image" class="posts-img">
                <h5 class="posts-title">{{ tour.tour_name }}</h5>
                <p class="small font-italic">{{ tour.description }}</p>
                <div class="card-footer text-muted text-center mt-auto">
                    Price: €{{ tour.price }}
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    {% if user.is_authenticated %}
    <!-- Booking form -->

        <div class="row">
            <div class="col-sm-8 col-md-6 my-2 offset-sm-2 offset-md-3">
                <div class="card rounded m-2 border-0 form-card">
                    <div class="card-body p-3 blog-card text-white form-card-body">
                        <form method="POST" enctype="multipart/form-data">
                            <h5 class="text-center">Book A Trip</h5>
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input type="submit" class="btn btn-success btn-sm" value="Book">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

</div>




{% endblock %}