{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container-fluid tours-main-container">
    <h3 class="text-center text-white m-3">We provide trips through County Kerry. <br> You can choose a journey you like and book a date that suits you</h3>
    <div class="row posts-row m-4">
        {% for tour in tours %}
        <div class="col-sm-12 col-md-6 col-lg-4 py-1 mt-2">
            <div class="card card-block posts-card">
                <a href="{% url 'book-trip' tour.id %}"><img src="{{ tour.tour_image.url }}" alt="featured_image" class="posts-img"></a>
                <h5 class="posts-title">{{ tour.tour_name }}</h5>
                <p class="small font-italic">{{ tour.description }}</p>
                <div class="card-footer text-muted d-flex justify-content-between mt-auto">
                    <a href="{% url 'book-trip' tour.id %}" class="btn btn-dark">Book Now</a>
                    Price: €{{ tour.price }}
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    
</div>




{% endblock %}