{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid" style="padding: 0;">
    <!-- Background image -->
    <div class="text-center bg-image" style="
        background-image: url('https://res.cloudinary.com/slava-cloud/image/upload/v1677755475/kerry_wgckh1.jpg');
        height: 500px;
        background-size:     cover;
        background-repeat:   no-repeat;
        background-position: center center;  
        ">
        <div class="row py-4">
            <div class="col-sm-12 col-md-6">
                <div class="blog-add-post py-5" style="background-color: rgba(0, 0, 0, 0.6);">
                    <h3 class="text-white p-3">Do you want to share your Kerry trip experience?</h3>
                    <h5 class="text-white p-2">...make your own post.</h5>
                    <a class="btn btn-outline-light btn-lg add-post-button" href="{% url 'add-blog' %}" role="button">Add Post</a>
                </div>
                
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="{% static 'images/polaroid.png' %}" alt="polaroid" class="polaroid-image">
            </div>
        </div>

    </div>
</div>
<div class="container-fluid">
    <div class="row posts-row">
        {% for post in posts %}
        <div class="col-sm-12 col-md-6 col-lg-4 py-1 mt-2">
            <div class="card card-block posts-card">
                <a href="{% url 'blog-detail' post.slug %}" class="text-decoration-none">
                    <img src="{{ post.featured_image.url }}" alt="featured_image" class="posts-img">
                    <h5 class="posts-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
                    <p class="small font-italic">{{ post.excerpt }}</p>
                    <div class="card-footer text-muted text-center mt-auto">
                        {{ post.date_created }}
                    </div>
            </div>
        </div>

        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row posts-row">
        {% endif %}
        {% endfor %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>




{% endblock %}